.table {
  width: 800px;
}

.tableHeadCell {
  border: 1px solid var(--foreground);
  padding: 8px;
  background-color: #f0f0f0;
}

.tableBodyCell {
  border: 1px solid var(--foreground);
  padding: 8px;
}

.tableBtns {
  display: flex;
  justify-content: flex-end;
  padding: 5px;
}

.tableRow {
  position: relative;
}

.editBtn {
  position: absolute;
  background: none;
  border: none;
  cursor: pointer;
  top: 10px;
  right: -25px;
}

.editIcon {
  width: 25px;
}

.loadingIcon {
  width: 40px;
}
